
.OurSpecialGalleryTextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 0px;
}

.OurSpecialGalleryText1 p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.OurSpecialGalleryText1 span{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    color: #e0a449;
}

.OurSpecialGalleryText2 p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    color: #393939;
    margin: 0px;
}

.Gallery {
    display: flex;
    justify-content: center;
    gap: 59.5;
    margin-top: 40px;
}

.GalleryImage {
    width: 387px;
}

.ImagePlaceholder {
    position: relative;

}

.CardInfo {
    width: 286px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border: 1px solid #f0f1f1;
    padding: 32px 24px;
    bottom: -30px;
    left: 6.5%;
    top: 85%;
    background-color: white;
    margin: 0px;
}

.CardInfo h3{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin: 0px;
    color: #393939;
}

.CardInfo p:nth-of-type(1) {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 171%;
    letter-spacing: -0.01em;
    margin: 0px;
    color: #e0a449;
}

.CardInfo p:nth-of-type(2) {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 171%;
    letter-spacing: -0.01em;
    margin: 8px 0px 0px 0px;
    color: #393939;
}

.ImageFavorite {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    padding: 17px 0px 17px 17px;
    width: 59px;
    height: 59px;
    background: #ffffff;
}

.FavBtn {
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    border-radius: 35px;
    padding: 17px;
    width: 59px;
    height: 59px;
}


.PaginationPlaceholder {
    display: flex;
    justify-content: flex-end; /* Прижимаем к правому краю */
    align-items: center;
    gap: 12px; /* Расстояние между цифрами */
    margin-top: 60px; /* Отступ от карточек, чтобы «наезд» не перекрыл кнопки */
    width: 100%;
    padding-bottom: 20px;
}

.PageBtn, .ActivePage, .ArrowBtn {
    background: none;
    border: none;
    font-family: var(--second-family);
    font-size: 16px;
    cursor: pointer;
    color: #393939;
}

.ActivePage {
    background-color: #f17900; /* Тот самый оранжевый из MainHero */
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ArrowBtn {
    font-size: 20px;
    padding-left: 10px;
}

@media (max-width: 1440px) {

    .Gallery {
        flex-wrap: wrap;
        row-gap: 90px;
    }
}

@media (max-width: 1200px) {
    .PaginationPlaceholder {
        margin-top: 100px;
    }
}

@media (max-width: 500px) {

    .ArtCard {
        width: 100%;
        height: 100%;
    }

    .ImagePlaceholder {
        width: 90%;
        height: 90%;
    }
}