.workCard {
  width: 100%;
  height: 130px;
  background: #fff;
  border: 1px solid #f0f1f1;

  display: flex;
  align-items: center;

  padding: 16px;
  box-sizing: border-box;
}

.thumbnail {
  width: 80px;
  height: 80px; 
  object-fit: cover;
  flex-shrink: 0;
}

.workInfo {
  width: 219px;
  height: 98px;
  margin-left: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #393939;
}

.author {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 171%;
  letter-spacing: -0.01em;
  color: #e0a449;
}

.status {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 171%;
  letter-spacing: -0.01em;
  color: #393939;
  margin: 12px 0px 0px 0px;
}

.bookmarkBtn {
   margin-left: auto;

  width: 59px;
  height: 59px;
  border-radius: 70%;

  background: #f9f9f9;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.bookmarkBtn img {
  width: 24px;
  
}

.LinkWrapper {
  display: block;
  text-decoration: none;
}