.page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.container {
  width: 1200px;
  display: flex;
  gap: 80px;
}

/* IMAGE */
.imageBlock {
  position: relative;
  width: 497px;
  height: 570px;
}

.imageBlock img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Bookmark button */
.bookmarkBtn {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 59px;
  height: 59px;
  border-radius: 35px;
  border: none;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.bookmarkBtn img {
  width: 24px;
  height: 24px;
}

/* INFO */
.infoBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: #393939;
  margin-top: 0px;
}

.artist {
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.name {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  color: #e0a449;
  margin-top: 32px;
}

.dates {
  font-family: var(--second-family);
  font-size: 14px;
  color: #393939;
  margin-top: 16px;
}

/* Section */
.section h2 {
  font-family: var(--second-family);
  font-size: 20px;
  margin-bottom: 20px;
  color: #393939;
  margin-top: 172px;
}

/* Meta */
.meta {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.meta div span {
  font-size: 13px;
  color: #e0a449;
}

.meta div p {
  margin: 2px 0 0;
  font-size: 15px;
  color: #393939;
}

.Font {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #393939;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 550px) {
  .imageBlock {
    width: 100%;
    height: 100%;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section h2 {
    margin-top: 32px;
  }
}